In [9]:
import pandas as pd

In [10]:
reader_controls_1 = pd.read_csv("pmp_method_data_control.csv")
reader_losses_1 = pd.read_csv("pmp_method_data.csv")
reader_controls_1

,initial = 2,initial = 5,initial = 10,initial = 15,initial = 20,initial = 50
0,-1.995394,-5.001929,-9.992925,-14.991867,-19.993007,-49.998232
1,-1.795855,-4.501736,-8.993634,-13.492681,-17.993707,-44.998408
2,-1.815808,-4.551755,-9.093563,-13.642600,-18.193637,-45.498390
3,-1.813813,-4.546753,-9.083570,-13.627608,-18.173644,-45.448392
4,-1.814013,-4.547253,-9.084569,-13.629107,-18.175644,-45.453392
5,-1.813993,-4.547203,-9.084469,-13.628957,-18.175444,-45.452894
6,-1.813993,-4.547205,-9.084479,-13.628973,-18.175464,-45.452943
7,-1.813993,-4.547205,-9.084479,-13.628972,-18.175462,-45.452939
8,-1.813993,-4.547206,-9.084479,-13.628972,-18.175462,-45.452939
9,-1.813993,-4.547206,-9.084479,-13.628972,-18.175462,-45.452938
10,-1.813993,-4.547206,-9.084479,-13.628972,-18.175462,-45.452938
11,-1.813993,-4.547206,-9.084479,-13.628972,-18.175462,-45.452938
12,-1.813993,-4.547206,-9.084479,-13.628972,-18.175462,-45.452938
13,-1.813993,-4.547206,-9.084479,-13.628972,-18.175462,-45.452938
14,-1.813993,-4.547206,-9.084479,-13.628972,-18.175462,-45.452938
15,-1.813993,-4.547206,-9.084479,-13.628972,-18.175462,-45.452938
16,-1.813993,-4.547206,-9.084479,-13.628972,-18.175462,-45.452938
17,-1.813993,-4.547206,-9.084479,-13.628972,-18.175462,-45.452938
18,-1.813993,-4.547206,-9.084479,-13.628972,-18.175462,-45.452938
19,-1.813993,-4.547206,-9.084479,-13.628972,-18.175462,-45.452938

In [11]:
reader_losses_1

,initial = 2,initial = 5,initial = 10,initial = 15,initial = 20,initial = 50
0,-4.312636,-27.494029,-109.947621,-247.603646,-439.965602,-2750.055909
1,-3.493481,-22.270291,-89.057740,-200.559027,-356.372469,-2227.545388
2,-3.571516,-22.767921,-91.047775,-205.040646,-364.335814,-2277.321382
3,-3.563674,-22.717911,-90.847783,-204.590257,-363.535521,-2272.319043
4,-3.564457,-22.722909,-90.867772,-204.635273,-363.615510,-2272.819021
5,-3.564379,-22.722409,-90.865773,-204.630771,-363.607511,-2272.769028
6,-3.564386,-22.722457,-90.865973,-204.631221,-363.608311,-2272.774033
7,-3.564386,-22.722455,-90.865954,-204.631179,-363.608232,-2272.773517
8,-3.564386,-22.722455,-90.865954,-204.631180,-363.608237,-2272.773564
9,-3.564386,-22.722455,-90.865954,-204.631180,-363.608238,-2272.773566
10,-3.564386,-22.722455,-90.865955,-204.631180,-363.608238,-2272.773569
11,-3.564386,-22.722455,-90.865955,-204.631180,-363.608238,-2272.773568
12,-3.564386,-22.722455,-90.865955,-204.631180,-363.608238,-2272.773568
13,-3.564386,-22.722455,-90.865955,-204.631180,-363.608238,-2272.773568
14,-3.564386,-22.722455,-90.865955,-204.631180,-363.608238,-2272.773568
15,-3.564386,-22.722455,-90.865955,-204.631180,-363.608238,-2272.773568
16,-3.564386,-22.722455,-90.865955,-204.631180,-363.608238,-2272.773568
17,-3.564386,-22.722455,-90.865955,-204.631180,-363.608238,-2272.773568
18,-3.564386,-22.722455,-90.865955,-204.631180,-363.608238,-2272.773568
19,-3.564386,-22.722455,-90.865955,-204.631180,-363.608238,-2272.773568

In [12]:
# problem 2
import numpy as np
# parameters of dynamics
sigma = 0.1
# those parameters can be vectors
A_t = 0
sigma_t = sigma
B_t = 1
Q_t = 0
Q_T = 1
R_t = 1
T = 0.1
dt = 0.001

# theoretical v-function and control_a:
theo_v_list = []
theo_a_list = []
for i in [2,5,10,15,20,50]:
    
#     a = (mu-r)/((sigma**2)*(1.-p))
#     rho = p*((mu-r)**2)/(2.*(sigma**2)*(1.-p)) + r*p
#     v = np.exp(rho*T)*(i**p/p)
#     v_theo = np.round(v,2)
#     a_theo = np.round(a,2)
    
    v = i**2*Q_T/(Q_T*T+1) + sigma**2*np.log(Q_T*T+1)
    P_0_star = Q_T/(Q_T*T+1)          
    K_t_star = R_t*B_t*P_0_star
    a_0_star = -K_t_star*i
    v_theo = np.round(v,2)
    a_theo = np.round(a_0_star,2)
    
    theo_v_list.append(v_theo)
    theo_a_list.append(a_theo)
print(theo_v_list)
print(theo_a_list)

[3.64, 22.73, 90.91, 204.55, 363.64, 2272.73]
[-1.82, -4.55, -9.09, -13.64, -18.18, -45.45]

In [52]:
# test_data = reader_losses_1['initial = 50']

In [97]:
test_data = reader_controls_1['initial = 50']

In [98]:
# test_data

In [99]:
theo_value = -45.45
# converge time: number of iteration that converges
for i in range(1,22):
    if np.abs(test_data.loc[i] - test_data.loc[i+1])/np.abs(theo_value) < 0.001:
        print(test_data.loc[i])
        num_ = i
        print(i)
        break
    
# reader_losses_2.loc[0,:]

-45.44839248
3

In [102]:
data_1 = np.abs(test_data[num_:].mean())/np.abs(theo_value)
2-data_1
# data_1

0.999940700795962

In [103]:
np.abs(test_data[num_:].std())/np.abs(theo_value)

2.4517547398639925e-05